body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
  background-color:rgb(128, 171, 226);
}
html{
  scroll-behavior:smooth;
}
#navigation-items a {
    position: relative;
    width: 100%;
    color: rgb(17, 17, 17);
    margin-left: 45px;
    font-size: 20px;
    background-color: aliceblue;
  }

  a:hover {
    border-bottom: 5px solid #f68247;
  }
  
#navigation{
  background-color: rgb(228, 226, 114);
  color: black;
  width: 100%;
  text-shadow: 0px 0px 1px #4548ed;
}


.navbar-brand{
  color: rgb(2, 2, 2);
  font-weight: bold;
}

#donatebtn{
    background-color: #4548ed;
    width: 75px;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 15px;
  }

#image01{
  width: 700px;
  box-shadow:10px solid #4548ed;
  position: relative;
  top: -180px;
  left: 700px;
}

.text-land{
  position: relative;
  top: 150px;
  width: 100%;
  left: 25px;
}
#heading{
  font-size: 55px;
}

#highlight{
  color:#4548ed;
}
#ngo{
  color: #4548ed;
  background-color: #f0e1cc;
}
#introduction{
  font-size: 25px;
}

#btn{
  background-color: #4548ed;
  color: white;
  position: relative;
  font-size: 25px;
  top:500px;
  width: 140px;
  height:50px;
  left: 100px;
}

.about{
  position: relative;
  float: right;
  padding-left: 10px;
  margin-top: 35px;
  margin-left: auto; 
  margin-right: 50px;
}

#about_us{
  font-size:50px;
}

#about_para{
  font-size:25px;
}

#image02{
  width: 700px;
  margin-top: 35px;
}

#btn1{
  background-color: #4548ed;
  color: white;
  width: 140px;
  height:50px;
  font-size: 25px;
}


.donation{
  width: 500px;
  position: relative;
  left: 800px;
  padding: 10px;
  top: -300px;
  font-size: 10px;
}

#image03{
  width: 700px;
  position: relative;
  top: 100px;
}

#donation_heading{
  color: #f68247;
}

#text_donor{
  font-size: 25px;
  color: rgb(15, 14, 14);
}


#form_label{
  color: rgb(84, 84, 85);
  font-size: 25px;
}